@font-face {
  font-family: 'RethinkSans';
  src: url('./assets/RethinkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'RethinkSans', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}